

.neo-blog{
    border: 1px solid lightblue;
    padding: 20px;
    height: 100%;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #b1b1b1,
                -10px -10px 20px #ffffff;
}

.title-blog h2{
    margin-bottom: 50px;
    font-weight: 900;
}
.text-p{
    font-size: 20px;
    margin-top: 25px;
    padding: 0 150px;
    text-align: left;    
}

 
 @media only screen and (max-width: 900px) {
    .text-p{
        padding: 0 10px;
    
    }

 }