

.neo-about{
    border: 1px solid lightblue;
    padding: 20px;
    height: 100%;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #b1b1b1,
                -10px -10px 20px #ffffff;
}

.about-pic img{
    width: 200px;
    height: 265px;
    border-radius: 50%;
    text-align: center;
}

.img-div{
    height: 2px;
    width: 500px;
    background-color: blueviolet;
}

.self-name h3{
    font-weight: 1000;
}
.self-name p{
    font-size: 20px;
}

.text-p{
    margin-top: 25px;
    padding: 0 150px;
    text-align: justify;    
}

 
 @media only screen and (max-width: 900px) {
    .text-p{
        padding: 0 10px;
    
    }

 }